html/
.DS_Store
bin/
dist/
build/
.eggs/
CMakeFiles/
CMakeScripts/
*.egg-info/
*.build/
*.xcodeproj/
*.swp
*.swo
*.a
*.so
*.pyc
.idea
.ipynb_checkpoints
cmake_install.cmake
CMakeCache.txt
Makefile
CPackSourceConfig.cmake
CPackConfig.cmake
